target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDE ###
.idea
*.iws
*.iml
*.ipr
.vscode/
.classpath
.project
.settings/
.factorypath

### Compiled Class Files ###
*.class

### Log Files ###
*.log

### Environment & Secret Files ###
.env
*.env.local

### OS ###
.DS_Store
Thumbs.db
